body {
width: 100%;
margin: 0px;
padding: 0px;
box-sizing: border-box;
}


#article-title-section{
width: 1000px;
height: 100px;
background-color: rgb(183, 170, 195);
display: flex;
justify-content: space-between;
align-items: center;
margin: 50px auto 50px auto;
}
    
.article-container{
width: 1000px;
display: flex;
margin-left: auto;
margin-right: auto;
flex-wrap: wrap;
}
#title-container{
 width: 1000px;
 display: flex;
 justify-content: center;
 align-items: center;
margin-left: auto;
margin-right: auto;
}

#page-title{
font-size:50px;
color: brown;
}

.article-sub-container{
width: 1000px;
margin-bottom: 20px;
background-color: bisque;
}

#article-category-title{
background-color: rgb(183, 170, 195);
font-size: 50px;
}


#article-category-title::first-letter{
text-transform: uppercase;
    }
#article-begin-end-year{
font-size: 20px; 
    }

 #fromYear{
color: bisque;
 }

 #toYear{
color: brown;
}
    
#title{
font-size: 20px;
background-color: rgb(183, 170, 195);
}

.read-more{
background-color: brown;
text-decoration: none;
font-size: 25px;
color: white;
padding: 4px;
}

.read-more:hover{
color: black;
}

.paragraph,.snippet,.title,.source{
padding: 10px;
}

.writer,.pub-date{
padding: 10px;
padding-bottom: 0px;
margin: 0;
}

#my-form{
width: 1800px;
display: flex;
justify-content: space-between;
margin-left: auto;
margin-right: auto;
}


input[type="submit"] {
color:black;
font-size: 20px;
color: rgb(183, 170, 195);
}


input[type="submit"]:hover {
background-color:rgb(104,28, 175);
    
    }

input[type=number]{
font-size: 20px;
color:rgb(183, 170, 195);
}
.labels{
font-size: 20px;
color: rgb(157, 115, 65);
}

#category{
font-size: 20px;
color: brown;
    }

.category-options{
font-size: 20px;
color:rgb(183, 170, 195);
}
   
.category-options:first-letter{
text-transform: capitalize;}

.article-category-title{
font-size: 30px;
}

#button-container{
width: 1000px;
display: flex;
justify-content: space-between;
align-items: center;
margin-left: auto;
margin-right: auto;
background-color: rgb(183, 170, 195);
}
#prev-page-button,#next-page-button{
font-size: 20px;
height: 40px;
border: none;
color: rgb(157, 115, 65);
}
.unordered-list{
 display: flex;
 justify-content: space-around;
 list-style-type: none;
 gap: 55px;
}
.pub-date{
color: rgb(235, 149, 149);
font-size: 20px;
}
.writer{
color: aliceblue;
font-size: 30px;
}

.pages{
width: 40px;
height: 40px;
background-color: bisque;
display: flex;
align-items: center;
justify-content: center;

}

ul li.active{
background-color: brown;
}